.header {
  grid-area: header;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  border-radius: 0 0 3px 3px;

  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    padding: 10px;
  }
  .logo img {
    max-width: 80px;
    height: 40px;
    display: block;
  }
  .auth {
    text-align: right;
    &__login {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      margin-left: 8px;
    }
    button {
      border: none;
      border-radius: 3px;
      background-color: rgb(116, 192, 111);
      color: #fff;
      padding: 3px 8px;
      &:hover {
        background-color: rgb(103, 168, 99);
        cursor: pointer;
      }
    }
  }
}