.nav {
  grid-area: nav;
  background-color: #fff;

  .inner {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;

    a {
      text-decoration: none;
      color: #1d2129;
      font-size: 20px;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
      &:last-child {
        margin-top: 20px;
      }
    }
    a.active {
      color: gold;
    }
  }
}