.friends {
    background-color: #fff;
    display: grid;
    grid-gap: 20px 10px;
    padding: 10px;
    border-radius: 3px;
}

.friend {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    .shortInfo {
        text-align: center;
        button {
            background-color: rgb(117, 153, 76);
            border: none;
            color: #fff;
            padding: 3px 8px;
        }
    }
    
    &_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 3px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        img {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .moreInfo {
        border: 1px solid gray;
        padding: 10px;
        border-radius: 3px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .friend_name {
            position: relative;
            &>span {
                margin-right: 3px;
                font-weight: 600;
            }
        }
        .friend_status {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .friend_country {
            text-align: right;
            span:first-child {
                font-weight: 600;
            }
            &>span {
                display: block;
            }
        }
    }
}
.selectedPage {
    font-weight: 600;
    font-size: 20px;
}