.main__posts {
  background-color: #fff;
  padding: 10px;
}

.main__posts_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.main__posts_form {
  text-align: right;
  margin-bottom: 10px;
}

.main__posts_form .text {
  width: 100%;
  height: 5em;
  background-color: #f5f6f7;
  border: none;
  resize: none;
  outline: none;
  padding: 10px;
}

.main__posts_form .text:focus::placeholder {
  color: transparent;
}

.main__posts_form .btn {
  background-color: green;
  padding: 5px;
  color: #fff;
  border: none;
  margin-right: 0;
}

