.main__posts {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
}

.main__posts_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.main__posts_form {
  text-align: right;
  margin-bottom: 10px;
}

.main__posts_form textarea {
  width: 100%;
  height: 5em;
  background-color: #f5f6f7;
  border: none;
  resize: none;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
}

.main__posts_form textarea:focus::placeholder {
  color: transparent;
}

.main__posts_form button {
  background-color: rgba(144, 216, 116, 0.945);
  padding: 8px 15px;
  color: #fff;
  border: none;
  margin-right: 0;
  cursor: pointer;
  text-transform: uppercase;
}

